/Debug
/InProcessGUI/obj/Debug
/InProcessGUI/obj/Release
/wowreeb.DomainManager/obj/Debug
/wowreeb.DomainManager/obj/Release
/wowreeb/obj/Debug
/wowreeb/obj/Release
/wowreeb/bin/Debug
/wowreeb/bin/Release
/wowreeb.DomainManager/bin/Debug/*.dll
/injector/Debug
/wowreeb/*.user
/*.sdf
/*.opendb
/wowreeb.DomainManager/bin/Debug
/.vs/wowreeb/v14/*.suo
/injector/*.user
/*.db
/.vs/wowreeb/v15
/Release
/dll/Debug
/dll/Release
/dll/*.user
